.profilePicture{
	width: 30px;
	height: auto;
}
.bc-grey{
	background-color: #e8eae8;
}
.title{
	font-size: 22px;
	font-weight: bold;
}
.btn-search{
	color: white;
	padding-left: 5px;
}
.bold{
	font-weight: bold;
}